version: "3"
services:
  db:
    container_name: polla_db
    image: postgres:13
    ports:
      - "5432:5432"
    volumes:
      - /data/db # Create a volume for the DB.
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
  client:
    container_name: polla_client
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    restart: always
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true # Hot reloading create react app : https://mherman.org/blog/dockerizing-a-react-app/ ; https://create-react-app.dev/docs/troubleshooting/#npm-start-doesn-t-detect-changes
      - REACT_APP_BASE_URL=${BASE_URL}
      - REACT_APP_API_BASE_URL=${API_BASE_URL}
      - REACT_APP_API_URL=${API_URL}
      - REACT_APP_GITHUB_URL=${GITHUB_URL}
    restart: always
    stdin_open: true # Hot reloading create react app: https://github.com/facebook/create-react-app/issues/8688#issuecomment-602110747
    volumes:
      - ./client:/app #Synchronise docker container with local change
      - /app/node_modules #Avoid re-copying local node_modules. Cache in container.
  server:
    container_name: polla_server
    build:
      context: ./server
      dockerfile: Dockerfile
    depends_on:
      - db
      - redis
    environment:
      - NODE_ENV=development
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?schema=public
      - APP_BASE_URL=${APP_BASE_URL}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_SECRET_EXPIRATION=${JWT_SECRET_EXPIRATION}
      - JWT_REFRESH_SECRET=${JWT_REFRESH_SECRET}
      - JWT_REFRESH_SECRET_EXPIRATION=${JWT_REFRESH_SECRET_EXPIRATION}
      - REDIS_HOST=redis
      - REDIS_PORT=${REDIS_PORT}
    ports:
      - "5000:5000"
    restart: always
    volumes:
      - ./server:/app #Synchronise docker container with local change
      - /app/node_modules #Avoid re-copying local node_modules. Cache in container.
  redis:
    container_name: polla_redis
    image: redis:latest
    ports:
      - "6379:6379"
  prisma:
    container_name: polla_prisma_studio
    depends_on:
      - db
      - server
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?schema=public
    ports:
      - '9999:5555'
    build:
      context: server/prisma
      dockerfile: Dockerfile
    volumes:
      - /app/prisma
