.navbar-brand:hover {
  text-decoration: none !important;
}

.chakra-button:hover {
  text-decoration: none;
  background: none;
}

nav {
  margin-bottom: 50px;
}

.chakra-menu__menu-list {
  background: #282c34 !important;
}

.title {
  padding-left: 0.5rem;
  font-size: 1.5rem;
  margin: auto;
}
