.navbar-brand:hover {
  text-decoration: none !important;
}

.chakra-button:hover {
  text-decoration: none;
  background: none;
}

nav {
  margin-bottom: 2rem;
}

.chakra-menu__menu-list {
  background: #191937 !important;
}

.title {
  padding-left: 0.5rem;
  font-size: 2rem;
  margin: auto;
}

.title:hover {
  text-decoration: none !important;
}
